@import "tailwindcss";

@font-face {
	font-family: 'Play';
	src: local('Play-Bold'),
		url('/fonts/Play-Bold.woff2') format('woff2'),
		url('/fonts/Play-Bold.woff') format('woff');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'Play';
	src: local('Play-Regular'),
		url('/fonts/Play-Regular.woff2') format('woff2'),
		url('/fonts/Play-Regular.woff') format('woff');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

:root {
	--text-color: #fff;
	--text-color-dark: #9C9D9E;
	--bg-color-default: #393B3C;
	--link-active-color: #DC5DFC;
	--border-color-dark: #393B3C;
	--bg-btn-primary: #6A5DC2;
	--bg-btn-hover: #8879eb;
	--error: #FF7575;
}

@theme {
	--color-light: var(--text-color);
	--color-dark: var(--text-color-dark);
	--color-bg-default: var(--bg-color-default);
	--color-border-dark: var(--border-color-dark);
	--color-btn-primary: var(--bg-btn-primary);
	--color-btn-hover: var(--bg-btn-hover);
	--color-error: var(--error);
	--animate-shimmer: shimmer 1.3s infinite;
}

@keyframes shimmer {
	100% {
		left: 100%;
	}
}

html {
	background: linear-gradient(180deg, #000000 0%, rgba(39, 36, 36, 0.7) 100%),
		linear-gradient(178.73deg, rgba(39, 135, 245, 0.18) -17.53%, rgba(163, 147, 245, 0.381) 131.74%);
}

body {
	font-family: 'Play', sans-serif;
	color: var(--text-color);
}
